@import "tailwindcss";

@theme {
  --font-sans: "Public Sans", sans-serif;

  --color-primary: #2f6b3f;
  --color-neutral: #6f756f;
  --color-white: #fafaf7;
  --color-black: #1c211d;
}

body {
  margin: 0;
  background: #fafaf7;
  color: #1c211d;
  font-family: "Public Sans", sans-serif;
}
